<main class="bg-dark d-flex align-items-center justify-content-center vh-100">
  <div id="form-room" class="card" style="width: 480px; display: none">
    <div class="card-body p-5">
      <p class="mb-2 text-secondary">Welcome to Secret Room,</p>
      <h1 class="card-title display-6 mb-3 d-flex">
        <input type="color" class="usercolor form-control form-control-lg form-control-color me-2 p-0" style="max-width: 48px" disabled>
        <span class="username"></span>
      </h1>
      
      <div class="card border-end-0 border-start-0 border-2 rounded-0">
        <div id="thread" class="card-body" style="max-height: 400px; overflow-y: auto">
          <p class="text-center text-secondary bg-light p-3">Thread will start here...</p>
        </div>
      </div>

      <div class="input-group">
        <input type="text" class="form-control border-0" id="message" placeholder="Write anonymously...">
        <button class="btn btn-outline-dark border-0" onclick="window.sendMessage()">
          <i class="bi bi-send-fill"></i>
        </button>
      </div>
    </div>
    <div class="card-footer px-5">
      <button class="btn btn-outline-danger border-0 d-block text-decoration-underline" onclick="window.exitRoom()">Exit the room.</button>
    </div>
  </div>

  <div id="form-enter" class="card" style="width: 480px">
    <div class="card-body p-5">
      <h1 class="card-title display-6 mb-3">Chat Anonymously, Connect Freely.</h1>
      <p class="card-text mb-5">
        Enter a name and choose a color to start chatting anonymously with others. Welcome to Secret Room!
      </p>
      
      <div class="d-flex">
        <div class="input-group">
          <input id="usercolor" type="color" class="form-control form-control-lg form-control-color" style="max-width: 48px">
          <input id="username" type="text" class="form-control form-control-lg" placeholder="What do you want to be called?">
        </div>
      </div>

      <button class="d-inline-block btn btn-lg btn-primary mt-4" onclick="window.enterRoom()">Enter Secret Room</button>
    </div>
  </div>
</main>