<main class="bg-dark d-flex align-items-center justify-content-center vh-100">
  <div id="form-room" class="card" style="width: 460px; display: none">
    <div class="card-body p-5">
      <p class="mb-2 text-secondary">Welcome to Secret Room,</p>
      <h1 class="card-title display-6 mb-3 d-flex">
        <input type="color" class="usercolor form-control form-control-lg form-control-color me-2" style="max-width: 48px">
        <span class="username"></span>
      </h1>
      
      <div class="card border-end-0 border-start-0 border-2 rounded-0">
        <div class="card-body" style="max-height: 400px; overflow-y: auto">

          <div class="d-flex justify-content-between">
            <p class="small mb-1">Timona Siera</p>
            <p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
            <div>
              <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">For what reason
                would it
                be advisable for me to think about business content?</p>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
            <p class="small mb-1">Johny Bullock</p>
          </div>
          <div class="d-flex flex-row justify-content-end mb-4 pt-1">
            <div>
              <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">Thank you for your believe in
                our
                supports</p>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
          </div>

          <div class="d-flex justify-content-between">
            <p class="small mb-1">Timona Siera</p>
            <p class="small mb-1 text-muted">23 Jan 5:37 pm</p>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava5-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
            <div>
              <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">Lorem ipsum dolor
                sit amet
                consectetur adipisicing elit similique quae consequatur</p>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <p class="small mb-1 text-muted">23 Jan 6:10 pm</p>
            <p class="small mb-1">Johny Bullock</p>
          </div>
          <div class="d-flex flex-row justify-content-end mb-4 pt-1">
            <div>
              <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">Dolorum quasi voluptates quas
                amet in
                repellendus perspiciatis fugiat</p>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
          </div>

        </div>
      </div>

      <div class="input-group">
        <input type="text" class="form-control border-0" id="chat-content" placeholder="Write anonymously...">
        <button class="btn btn-outline-dark border-0">
          <i class="bi bi-send-fill"></i>
        </button>
      </div>
    </div>
    <div class="card-footer px-5">
      <button class="btn btn-outline-danger border-0 d-block text-decoration-underline" onclick="window.exitRoom()">Exit the room.</button>
    </div>
  </div>

  <div id="form-enter" class="card" style="width: 460px">
    <div class="card-body p-5">
      <h1 class="card-title display-6 mb-3">Chat Anonymously, Connect Freely.</h1>
      <p class="card-text mb-5">
        Enter a name and choose a color to start chatting anonymously with others. Welcome to Secret Room!
      </p>
      
      <div class="d-flex">
        <div class="input-group">
          <input id="usercolor" type="color" class="form-control form-control-lg form-control-color" style="max-width: 48px">
          <input id="username" type="text" class="form-control form-control-lg" placeholder="What you want to be called?">
        </div>
      </div>

      <button class="d-inline-block btn btn-lg btn-primary mt-4" onclick="window.enterRoom()">Enter Secret Room</button>
    </div>
  </div>
</main>